.DropdownMenu {
  @include box-shadow;

  background: $white;
  border-radius: 8px;
  border: 1px solid $grey-3;
  margin-top: 8px;
  min-width: 300px;
  position: absolute;
  right: 0;
}

.DropdownMenu__section {
  border-top: $grey-3 1px solid;
  padding: 8px 0;
}

.DropdownAnimator {
  $delay: 250ms;
  $min: .3;
  transform-origin: right top;
  transition: opacity $delay ease-in, transform $delay ease-out;

  &--unmounted {
    opacity: 0;
    transform: translate3d(0, -24px, 0) scale3d($min, $min, $min);
  }

  &--mounted {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale3d(1, 1, 1);
  }

}