.DropdownLink__wrapper {
  position: relative;
}

.DropdownLink {
  display: flex;
  align-items: center;
  max-width: 280px;
  padding: 8px;

  border-radius: 8px;

  cursor: pointer;

  transition: 100ms background-color;

  &:hover, &:focus {
    background-color: $grey-2;
  }

  &:active {
    background-color: $grey-3;
  }
}

.DropdownLink__text-wrapper {
  text-align: right;
}

.DropdownLink__text {
  font-weight: bold;
}

.DropdownLink__subtext {
  color: $grey-6;
}

.DropdownLink__icon {
  margin-left: 8px;
}

